pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
scipy==1.13.0
fastapi==0.110.1
uvicorn==0.29.0
redis==5.0.3
faker==25.2.0
joblib==1.4.2
tensorflow==2.12.0 
tensorflow-datasets==4.9.2
tensorflow-recommenders==0.7.3
